[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "camerondata"]
	path = camerondata
	url = https://github.com/juvlac/camerondata
